* {
    margin: 0;
    padding: 0;
    }
body{
    text-align: center;
    background-color:brown;
    font-size: 30px;
    color: white;
    font-family:inherit;
}

#container{
    display:flex;  
    height: 100vh; 
    justify-content: center;
    align-items: center;
     
}



button {
    background-color: rgb(89, 13, 13);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 2%;
    font-size: 17px;
    padding: 6px;
    font-family:;
  }

  h2{
    font-size: 40px;
    margin-bottom: 20px;
  }

 #session-label{
  align-items: right;
 }
 #break-label{
 align-items: left;
 }

  #time-left{
    font-size: 65px;
  }

  .time-container{
    background-color: rgb(60, 38, 38);
    border-radius: 30px;
    border-style: solid;
    border-color: beige;
    font-family: digital;
    margin-top: 30px;
  }
.upper-control{
  margin-top: 10px;
}
#break-label{
  margin-right: 20px;
}

#break-decrement{
  align-items: left;
}

#space{
  margin-right: 150px;
}

.first-color{
  color: rgb(9, 219, 9);
}

.second-color{
  color:red;
}
#break-length, #session-length{
  padding: 4px;
}

button:hover{
  background-color:  rgb(248, 241, 241);
  color:rgb(11, 0, 0);
}